<settings version="2">
    <setting id="language" default="true">en-US</setting>
    <setting id="tmdbcertcountry" default="true">us</setting>
    <setting id="usecertprefix" default="true">true</setting>
    <setting id="certprefix" default="true">Rated </setting>
    <setting id="keeporiginaltitle" default="true">false</setting>
    <setting id="cat_landscape" default="true">true</setting>
    <setting id="studio_country" default="true">false</setting>
    <setting id="enab_trailer" default="true">true</setting>
    <setting id="players_opt" default="true">Tubed</setting>
    <setting id="ratings" default="true">TMDb</setting>
    <setting id="imdbanyway" default="true">false</setting>
    <setting id="traktanyway" default="true">false</setting>
    <setting id="tmdbanyway" default="true">true</setting>
    <setting id="enable_fanarttv" default="true">true</setting>
    <setting id="fanarttv_clientkey" default="true" />
    <setting id="verboselog" default="true">false</setting>
    <setting id="lastUpdated">1705763027.162282</setting>
    <setting id="originalUrl">https://image.tmdb.org/t/p/original</setting>
    <setting id="previewUrl">https://image.tmdb.org/t/p/w780</setting>
</settings>
